@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}


/* Global styles */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  position: relative;
  width: 100%;
  color: #444444;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
}

td,
th {
  padding: 4px 8px 4px 4px;
  text-align: left;
}

th {
  font-weight: 600;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
}

.modal-header {
  padding: 16px;
  border-bottom: 1px solid #e0e0e0;
}

.modal-body {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

@media (min-width: 768px) {
  .modal-body {
    flex-direction: row;
  }

  .modal-text {
    flex: 1;
    padding-right: 16px;
  }

  .modal-carousel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.modal-footer {
  padding: 16px;
  border-top: 1px solid #e0e0e0;
  text-align: right;
}